<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>photo recognizer</title>
</head>
<body>
    <h1>Upload a picture with text on it</h1>

    <form method="POST" enctype="multipart/form-data" action="/process">
        <input type="file" name="uploadedImage" accept=".jpeg,.jpg">
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>